name: PR Preview

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize

permissions:
    contents: write
    pull-requests: write

concurrency: preview-${{ github.ref }}

jobs:
    pr-preview:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install and Build
              run: |
                  npm ci
                  npm run build-demo

            - name: Deploy preview
              uses: rossjrw/pr-preview-action@v1
              with:
                  source-dir: ./dist-demo/
